*{
    font-family:sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.logo{
    height:55px;
    width:55px;
    border-radius:50%;
    padding-right:5px;
}

.container-fluid{
    background-color:black;
}

li a{
    color:white;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.whatsapp{
    height:55px;
    border-radius:50%;
    width:55px;
    color:green;
}

.whatsapp-float{
    position:fixed;
    bottom:20px;
    right:20px;
    z-index:1000;
}

.container-1 , .container-2{
    justify-content:center;
    /* margin:20px; */
    gap:20px;
    align-items:center;
    display:flex;
    /* position: relative; */
    /* height:100vh; */
}



.col-sm{
    padding:10px;
    margin:0.5px;
}

.container-2{
    margin-top:170px;
}

.fun{
    background-color:purple;
    color:white;
    border-radius:50rem;
    height:30px;
    border:0.1rem;
    padding:9px;
    margin-left:50px;
    text-decoration:none;
    text-align:center;
}

.copyright{
    position: relative;
    background-color:black;
    /* padding:20px; */
    color:white;
    height:20vh;
    margin-top:20px;
}

.footer-div{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.footer-div > p{
    font-size:16px;
}

@media(max-width:768px){
     .row{
         position:absolute;
         left:50%;
         top:50%;
         transform:translate(-50%,-50%);
     }

     .container-1,.container-2{
        position: relative;
        height:100vh;
        z-index:-1;
     }
     .footer-div > p{
        font-size:10px;
        font-weight:300;
        text-align:center;
     }
     .fun{
        font-size:10px;
     }
}